:host {
  display: flex;
  align-items: baseline;

  .material-row {
    margin: 0.25rem 0rem;
    padding: 0.5rem 0rem;
    &:hover {
      background-color: rgb(238, 237, 237);
    }

    td {
      min-width: 140px;
      padding: 0.2rem 0.75rem;
      margin: 0;
      cursor: pointer;
    }
  }

  button {
    margin-left: 0.5rem;
    &:disabled {
      background-color: pink;
    }
  }

  input {
    margin-left: 0.5rem;
    padding: 0.5rem;
    outline: none;
  }
  .book-quantity-container {
    display: flex;
    align-items: center;
    .availability-error {
      margin-left: 0.5rem;
      color: red;
      font-size: 14px;
    }
  }
}
