<div class="material-row" (click)="selectMaterial(material)">
  <td>{{ material.DescTxt }}</td>
  <td>{{ material.CustomerPrice }}</td>
  <td>{{ material.CustomerCurrency }}</td>
  <td>{{ material.Quantity }}</td>
  <td>{{ material.Available }}</td>
</div>
<div class="book-quantity-container">
  <input
    matInput
    #quantityInputRef
    type="text"
    placeholder="Enter quantity"
    pattern="[0-9]*"
    (input)="handleBookInputChange($event)"
  />
  <button
    mat-raised-button
    color="primary"
    type="button"
    class="btn btn-primary btn-small"
    (click)="bookMaterial(quantityInputRef.value, material)"
  >
    Book
  </button>
</div>
