<div class="material-row" (click)="selectMaterial(material)">
  <td>{{ material.DescTxt }}</td>
  <td>{{ material.CustomerPrice }}</td>
  <td>{{ material.CustomerCurrency }}</td>
  <td>{{ material.Quantity }}</td>
  <td>{{ material.Available }}</td>
</div>
<div class="book-quantity-container">
  <input
    #quantityInputRef
    matInput
    type="text"
    placeholder="Enter quantity"
    (input)="handleBookInputChange($event)"
  />
  <button
    [disabled]="isBookBtnDisabled"
    mat-raised-button
    color="primary"
    type="button"
    class="btn btn-primary btn-small"
    (click)="bookMaterial(quantityInputRef.value, material)"
  >
    Book
  </button>
  <div *ngIf="isBookBtnDisabled" class="availability-error">
    You are trying to book more than what's available. Max quantity {{ material.Available }}
  </div>
</div>
