<div class="material-list-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Customer Price</th>
        <th scope="col">Customer Currency</th>
        <th scope="col">Quantity</th>
        <th scope="col">Available</th>
        <th></th>
      </tr>
      <div>
        <input matInput #filterInputRef type="text" placeholder="Filter by Description" />
      </div>
    </thead>
    <tbody *ngFor="let material of filteredMaterials()">
      <tr (click)="selectMaterial(material)">
        <td>{{ material.DescTxt }}</td>
        <td>{{ material.CustomerPrice }}</td>
        <td>{{ material.CustomerCurrency }}</td>
        <td>{{ material.Quantity }}</td>
        <td>{{ material.Available }}</td>
        <div class="book-quantity-container">
          <input #quantityInputRef type="text" placeholder="Enter quantity" />
          <button
            type="button"
            class="btn btn-primary btn-small"
            (click)="bookItem($event, material)"
          >
            Book
          </button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
