.material-list-container {
  tbody {
    display: flex;
    flex-direction: column;
  }

  th {
    text-align: left;
    padding: 0.2rem 0.75rem;
    margin: 0;
  }

  input {
    margin-left: 0.5rem;
    padding: 0.5rem;
    outline: none;
  }
}
