.material-details-container {
  margin: 1rem 2rem;
  .book-quantity-container {
    display: flex;
    align-items: baseline;
    input {
      margin-left: 0.5rem;
      padding: 0.5rem;
      outline: none;
    }

    button {
      margin-left: 0.5rem;
    }
  }
  .item-detail-header {
    font-weight: 700;
  }
  .item-key {
    font-weight: 500;
  }
  button {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
