.material-details-container {
  margin: 1rem 2rem;
  .item-detail-header  {
    font-weight: 700;
  }
  .item-key {
    font-weight: 500;
  }
  button {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
